# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.pybiomart.sqlite

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
env/

# Directories
manuscript/
results/
presentations/
graph_files/
test_files/
docs/
lib/

# R files
*.RData
*.Rhistory
*.Rproj


.gitignore